<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568891598812-ke19cigfu97co83jkm5uvgtg4mi8p7ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568891598812-ke19cigfu97co83jkm5uvgtg4mi8p7ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBwpyS7VH-GyixIAJXJDdIaz4BWrRwyImw</string>
	<key>GCM_SENDER_ID</key>
	<string>568891598812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tadashi.deliverykun</string>
	<key>PROJECT_ID</key>
	<string>deliverykun-3a458</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverykun-3a458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568891598812:ios:f1373f63dfde3807285119</string>
</dict>
</plist>